 .editmodal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .editmodal-content {
    background-color: #2D3142;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #4F5D75;
    width: 100%;
    max-width: 40vw;
    border-radius: 30px;
    position: relative;
  }

  .topcenter {
    display: flex;
    justify-content: center;
  }

  .close {
    color: #aaa;
    position: absolute;
    right: 1vw;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #modalpfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #postinput {
    width: 100%;
    height: 406px;
    background-color: transparent;
    border: 1px solid #4F5D75;
    border-radius: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 80%;
    resize: none;
    color: white;
    font-family: 'montserrat';
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
  }

  #postinput:focus {
    outline: none;
  }

  #postbutton {
    background-color: #EF8354;
    border: none;
    border-radius: 30px;
    width: 163px;
    height: 49px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 4.5vw;
  }
  #posticons {
    margin-left: 3.5vw;
    margin-top: 10px;
  }
  #posticons img {
    width: 24px;
    height: 24px;
  }
  #edituser {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: 0px;
    
  }

  @media (orientation: portrait) {
    .modal-content {
      background-color: #2D3142;
      margin: 15% auto;
      padding: 20px;
      border: none;
      width: 100%;
      border-radius: 0px;
      max-width: 100vw;
      height: 95vh;
    }

    #postinput {
      margin-top: 7vh;
      height: 70vh;
    }

    #posticons {
      margin-left: 8vw;
    }

    #postbutton {
      top: 85vh;
      margin-right: 8vw;
    }

    .close {
      right: 5vw;
    }

    #modalpfp {
      left: 5vw;
    }
  }