.loader {
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: absolute;
    background-color: #2d3142;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 10vw;
    height: 10vw;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }