@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');
body {
    background-color: #2D3142;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.sidebar {
    background-color: #4F5D75;
    position: fixed;
    top: 25px;
    bottom: 25px;
    left: 25px;
    width: 200px;
    border-radius: 30px;
}
.sidebar .logo {
    width: 70%;
    margin-left: 25px;
    margin-top: 5px;
}

.home {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.sidebar .home img{
    width: 35px;
}

.profile {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #BFC0C0;
    font-size: 20px;
    font-weight: bold;
    bottom: 6px;
}

.sidebar .profile img{
    width: 35px;
}

.for-you {
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    text-decoration-color: #EF8354;
}

.post {
    background-color: #4F5D75;
    width: 500px;
    height: 150px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.posts {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.post #pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 6px;
}
#username {
    font-size: 13px;
    margin-left: 2px;
    margin-bottom: 10px;
}
.user-info {
    display: flex;
}
#content-text {
    font-size: 13px;
    font-weight: medium;
    margin-left: 30px;
}
.content {
    margin-left: 15px;
}
.button {
    width: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.buttons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}