@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');
body {
    font-family: 'montserrat',Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2D3142;
    color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header img {
    width: 80vw;
    max-width: 500px;
    height: auto;
}
h1 {
    margin-bottom: 20px;
}
p {
    margin-bottom: 10px;
}
.banner {
    text-align: center;
    margin-bottom: 5px;
}
.banner a {
    color: grey;
    text-decoration: none;
}